.main-wrapper {
    position: relative;
   min-height: 80vh;
 
}

.add-square {
    
     position: fixed;
     z-index: 9999;
     right: 80px;
     bottom: 30px;
    cursor: pointer;
    color: rgb(81, 0, 255);
      color: black;
}

.modal-content {
  background-color: rgb(238, 238, 238) !important;
}

.form-wrapper p {
  font-weight: bold;
  margin: 0px;
  padding: 10px 4px 3px;
}

.project-card {
  min-width: 250px;
   transition: all 0.4s;
    opacity: 80%;
}

.project-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    transition: all 0.4s;
    opacity: 100%;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  background-color: #e9e9e9 !important;
    padding: 10px 15px !important;
  color: rgb(37, 37, 37) !important;
  font-size: 16px !important;
  font-variant-caps: all-petite-caps !important;
}

.ui.divided.list>.item {
  padding: 10px 0px !important;

}

.ui.divided.list>.item:hover {
  cursor: pointer !important;
}

input {
  border: 1px solid black !important;
}

   input::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
 
 